<!DOCTYPE html>
<html lang="en">
<head>
	<title>Minesweeper</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	<link type="text/css" rel="stylesheet" href="css/style.css">
</head>
<body>
	<div id="container" class="hidden"></div>
	<div id="menu">
		<form id="minesweeper-form" class="form">
			<label><input type="radio" name="option" value="5" checked> Easy</label>
			<label><input type="radio" name="option" value="10"> Normal</label>
			<label><input type="radio" name="option" value="15"> Hard</label>
			<button type="submit">Start Game</button>
		</form>
	</div>

	<script src="/js/ApiClient.js"></script>
	<script type="importmap">
		{
			"imports": {
				"three": "/lib/three/three.module.js"
			}
		}
	</script>
	<script type="module" src="/js/Minesweeper.js"></script>
</body>
</html>
